{% extends "base.html" %} {% block content %}
<div class="row mb-3">
  <h2>Todo  Done-List</h2>
</div>
<div class="row mb-3">
  <div class="col">
    <a href="{% url "create" %}" class="btn btn-success">
      <i class="fa-solid fa-plus"></i>
      Todo
    </a>
  </div>
  <div class="col text-end">
    <a href="{% url "list" %}" class="btn btn-primary">Todo 목록</a>
  </div>
</div>
{% comment %} {{}} -> 장고 템플릿 코드 {% endcomment %}
<table class="table">
  {% for todo in todos %}
  <tr>
    <th>
      <a href="{% url "read" id=todo.id%}" class="text-reset">{{todo.title}}</a>
      {% if todo.important %}
      <span class="badge text-bg-danger">!</span>
      {% endif %}
    </th>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
